# Titanic Survival Prediction
This project aims to predict which passengers survived the sinking of the Titanic in 1912 based on their age and class. The dataset is taken from Kaggle: https://www.kaggle.com/c/titanic.

In [1]:
import seaborn
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.linear_model import LogisticRegression
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler

### Load the passenger data

In [2]:
passengers = pd.read_csv("passengers.csv")
passengers.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

The following features are provided in the dataset:
- *survival*: Survival (0 = No, 1 = Yes)
- *pclass*: Ticket class (1 = 1st, 2 = 2nd, 3 = 3rd)
- *sex*: Sex	
- *Age*:Age in years	
- *sibsp*: # of siblings / spouses aboard the Titanic	
- *parch*: # of parents / children aboard the Titanic	
- *ticket*:	Ticket number	
- *fare*: Passenger fare	
- *cabin*: Cabin number	
- *embarked*: Port of Embarkation (C = Cherbourg, Q = Queenstown, S = Southampton)

In [3]:
passengers.shape

(891, 12)

### Clean the Data

In [4]:
#Update sex column to numerical value

passengers["Sex"] = passengers["Sex"].map({'female': 1,'male': 0})
passengers

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",0,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",1,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",0,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.0,0,0,211536,13.0000,NaN,S
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.0,0,0,112053,30.0000,B42,S
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,NaN,1,2,W./C. 6607,23.4500,NaN,S
889,890,1,1,"Behr, Mr. Karl Howell",0,26.0,0,0,111369,30.0000,C148,C
890,891,0,3,"Dooley, Mr. Patrick",0,32.0,0,0,370376,7.7500,NaN,Q

In [6]:
#Check for missing values in the age column
passengers["Age"].values

array([22.  , 38.  , 26.  , 35.  , 35.  ,   nan, 54.  ,  2.  , 27.  ,
       14.  ,  4.  , 58.  , 20.  , 39.  , 14.  , 55.  ,  2.  ,   nan,
       31.  ,   nan, 35.  , 34.  , 15.  , 28.  ,  8.  , 38.  ,   nan,
       19.  ,   nan,   nan, 40.  ,   nan,   nan, 66.  , 28.  , 42.  ,
         nan, 21.  , 18.  , 14.  , 40.  , 27.  ,   nan,  3.  , 19.  ,
         nan,   nan,   nan,   nan, 18.  ,  7.  , 21.  , 49.  , 29.  ,
       65.  ,   nan, 21.  , 28.5 ,  5.  , 11.  , 22.  , 38.  , 45.  ,
        4.  ,   nan,   nan, 29.  , 19.  , 17.  , 26.  , 32.  , 16.  ,
       21.  , 26.  , 32.  , 25.  ,   nan,   nan,  0.83, 30.  , 22.  ,
       29.  ,   nan, 28.  , 17.  , 33.  , 16.  ,   nan, 23.  , 24.  ,
       29.  , 20.  , 46.  , 26.  , 59.  ,   nan, 71.  , 23.  , 34.  ,
       34.  , 28.  ,   nan, 21.  , 33.  , 37.  , 28.  , 21.  ,   nan,
       38.  ,   nan, 47.  , 14.5 , 22.  , 20.  , 17.  , 21.  , 70.5 ,
       29.  , 24.  ,  2.  , 21.  ,   nan, 32.5 , 32.5 , 54.  , 12.  ,
         nan, 24.  ,   nan, 45.  , 33.  , 20.  , 47.  , 29.  , 25.  ,
       23.  , 19.  , 37.  , 16.  , 24.  ,   nan, 22.  , 24.  , 19.  ,
       18.  , 19.  , 27.  ,  9.  , 36.5 , 42.  , 51.  , 22.  , 55.5 ,
       40.5 ,   nan, 51.  , 16.  , 30.  ,   nan,   nan, 44.  , 40.  ,
       26.  , 17.  ,  1.  ,  9.  ,   nan, 45.  ,   nan, 28.  , 61.  ,
        4.  ,  1.  , 21.  , 56.  , 18.  ,   nan, 50.  , 30.  , 36.  ,
         nan,   nan,  9.  ,  1.  ,  4.  ,   nan,   nan, 45.  , 40.  ,
       36.  , 32.  , 19.  , 19.  ,  3.  , 44.  , 58.  ,   nan, 42.  ,
         nan, 24.  , 28.  ,   nan, 34.  , 45.5 , 18.  ,  2.  , 32.  ,
       26.  , 16.  , 40.  , 24.  , 35.  , 22.  , 30.  ,   nan, 31.  ,
       27.  , 42.  , 32.  , 30.  , 16.  , 27.  , 51.  ,   nan, 38.  ,
       22.  , 19.  , 20.5 , 18.  ,   nan, 35.  , 29.  , 59.  ,  5.  ,
       24.  ,   nan, 44.  ,  8.  , 19.  , 33.  ,   nan,   nan, 29.  ,
       22.  , 30.  , 44.  , 25.  , 24.  , 37.  , 54.  ,   nan, 29.  ,
       62.  , 30.  , 41.  , 29.  ,   nan, 30.  , 35.  , 50.  ,   nan,
        3.  , 52.  , 40.  ,   nan, 36.  , 16.  , 25.  , 58.  , 35.  ,
         nan, 25.  , 41.  , 37.  ,   nan, 63.  , 45.  ,   nan,  7.  ,
       35.  , 65.  , 28.  , 16.  , 19.  ,   nan, 33.  , 30.  , 22.  ,
       42.  , 22.  , 26.  , 19.  , 36.  , 24.  , 24.  ,   nan, 23.5 ,
        2.  ,   nan, 50.  ,   nan,   nan, 19.  ,   nan,   nan,  0.92,
         nan, 17.  , 30.  , 30.  , 24.  , 18.  , 26.  , 28.  , 43.  ,
       26.  , 24.  , 54.  , 31.  , 40.  , 22.  , 27.  , 30.  , 22.  ,
         nan, 36.  , 61.  , 36.  , 31.  , 16.  ,   nan, 45.5 , 38.  ,
       16.  ,   nan,   nan, 29.  , 41.  , 45.  , 45.  ,  2.  , 24.  ,
       28.  , 25.  , 36.  , 24.  , 40.  ,   nan,  3.  , 42.  , 23.  ,
         nan, 15.  , 25.  ,   nan, 28.  , 22.  , 38.  ,   nan,   nan,
       40.  , 29.  , 45.  , 35.  ,   nan, 30.  , 60.  ,   nan,   nan,
       24.  , 25.  , 18.  , 19.  , 22.  ,  3.  ,   nan, 22.  , 27.  ,
       20.  , 19.  , 42.  ,  1.  , 32.  , 35.  ,   nan, 18.  ,  1.  ,
       36.  ,   nan, 17.  , 36.  , 21.  , 28.  , 23.  , 24.  , 22.  ,
       31.  , 46.  , 23.  , 28.  , 39.  , 26.  , 21.  , 28.  , 20.  ,
       34.  , 51.  ,  3.  , 21.  ,   nan,   nan,   nan, 33.  ,   nan,
       44.  ,   nan, 34.  , 18.  , 30.  , 10.  ,   nan, 21.  , 29.  ,
       28.  , 18.  ,   nan, 28.  , 19.  ,   nan, 32.  , 28.  ,   nan,
       42.  , 17.  , 50.  , 14.  , 21.  , 24.  , 64.  , 31.  , 45.  ,
       20.  , 25.  , 28.  ,   nan,  4.  , 13.  , 34.  ,  5.  , 52.  ,
       36.  ,   nan, 30.  , 49.  ,   nan, 29.  , 65.  ,   nan, 50.  ,
         nan, 48.  , 34.  , 47.  , 48.  ,   nan, 38.  ,   nan, 56.  ,
         nan,  0.75,   nan, 38.  , 33.  , 23.  , 22.  ,   nan, 34.  ,
       29.  , 22.  ,  2.  ,  9.  ,   nan, 50.  , 63.  , 25.  ,   nan,
       35.  , 58.  , 30.  ,  9.  ,   nan, 21.  , 55.  , 71.  , 21.  ,
         nan, 54.  ,   nan, 25.  , 24.  , 17.  , 21.  ,   nan, 37.  ,
       16.  , 18.  , 33.  ,   nan, 28.  , 26.  , 29.  ,   nan, 36.  ,
       54.  , 24.  , 47.  , 34.  ,   nan, 36.  , 32.  , 30.  , 22.  ,
         nan, 44.  ,   nan, 40.5 , 50.  ,   nan, 39.  , 23.  ,  2.  ,
         nan, 17.  ,   nan, 30.  ,  7.  , 45.  , 30.  ,   nan, 22.  ,
       36.  ,  9.  , 11.  , 32.  , 50.  , 64.  , 19.  ,   nan, 33.  ,
        8.  , 17.  , 27.  ,   nan, 22.  , 22.  , 62.  , 48.  ,   nan,
       39.  , 36.  ,   nan, 40.  , 28.  ,   nan,   nan, 24.  , 19.  ,
       29.  ,   nan, 32.  , 62.  , 53.  , 36.  ,   nan, 16.  , 19.  ,
       34.  , 39.  ,   nan, 32.  , 25.  , 39.  , 54.  , 36.  ,   nan,
       18.  , 47.  , 60.  , 22.  ,   nan, 35.  , 52.  , 47.  ,   nan,
       37.  , 36.  ,   nan, 49.  ,   nan, 49.  , 24.  ,   nan,   nan,
       44.  , 35.  , 36.  , 30.  , 27.  , 22.  , 40.  , 39.  ,   nan,
         nan,   nan, 35.  , 24.  , 34.  , 26.  ,  4.  , 26.  , 27.  ,
       42.  , 20.  , 21.  , 21.  , 61.  , 57.  , 21.  , 26.  ,   nan,
       80.  , 51.  , 32.  ,   nan,  9.  , 28.  , 32.  , 31.  , 41.  ,
         nan, 20.  , 24.  ,  2.  ,   nan,  0.75, 48.  , 19.  , 56.  ,
         nan, 23.  ,   nan, 18.  , 21.  ,   nan, 18.  , 24.  ,   nan,
       32.  , 23.  , 58.  , 50.  , 40.  , 47.  , 36.  , 20.  , 32.  ,
       25.  ,   nan, 43.  ,   nan, 40.  , 31.  , 70.  , 31.  ,   nan,
       18.  , 24.5 , 18.  , 43.  , 36.  ,   nan, 27.  , 20.  , 14.  ,
       60.  , 25.  , 14.  , 19.  , 18.  , 15.  , 31.  ,  4.  ,   nan,
       25.  , 60.  , 52.  , 44.  ,   nan, 49.  , 42.  , 18.  , 35.  ,
       18.  , 25.  , 26.  , 39.  , 45.  , 42.  , 22.  ,   nan, 24.  ,
         nan, 48.  , 29.  , 52.  , 19.  , 38.  , 27.  ,   nan, 33.  ,
        6.  , 17.  , 34.  , 50.  , 27.  , 20.  , 30.  ,   nan, 25.  ,
       25.  , 29.  , 11.  ,   nan, 23.  , 23.  , 28.5 , 48.  , 35.  ,
         nan,   nan,   nan, 36.  , 21.  , 24.  , 31.  , 70.  , 16.  ,
       30.  , 19.  , 31.  ,  4.  ,  6.  , 33.  , 23.  , 48.  ,  0.67,
       28.  , 18.  , 34.  , 33.  ,   nan, 41.  , 20.  , 36.  , 16.  ,
       51.  ,   nan, 30.5 ,   nan, 32.  , 24.  , 48.  , 57.  ,   nan,
       54.  , 18.  ,   nan,  5.  ,   nan, 43.  , 13.  , 17.  , 29.  ,
         nan, 25.  , 25.  , 18.  ,  8.  ,  1.  , 46.  ,   nan, 16.  ,
         nan,   nan, 25.  , 39.  , 49.  , 31.  , 30.  , 30.  , 34.  ,
       31.  , 11.  ,  0.42, 27.  , 31.  , 39.  , 18.  , 39.  , 33.  ,
       26.  , 39.  , 35.  ,  6.  , 30.5 ,   nan, 23.  , 31.  , 43.  ,
       10.  , 52.  , 27.  , 38.  , 27.  ,  2.  ,   nan,   nan,  1.  ,
         nan, 62.  , 15.  ,  0.83,   nan, 23.  , 18.  , 39.  , 21.  ,
         nan, 32.  ,   nan, 20.  , 16.  , 30.  , 34.5 , 17.  , 42.  ,
         nan, 35.  , 28.  ,   nan,  4.  , 74.  ,  9.  , 16.  , 44.  ,
       18.  , 45.  , 51.  , 24.  ,   nan, 41.  , 21.  , 48.  ,   nan,
       24.  , 42.  , 27.  , 31.  ,   nan,  4.  , 26.  , 47.  , 33.  ,
       47.  , 28.  , 15.  , 20.  , 19.  ,   nan, 56.  , 25.  , 33.  ,
       22.  , 28.  , 25.  , 39.  , 27.  , 19.  ,   nan, 26.  , 32.  ])

In [10]:
passengers["Age"].fillna(value = passengers["Age"].mean(),inplace=True)
passengers["Age"].values

array([22.        , 38.        , 26.        , 35.        , 35.        ,
       29.69911765, 54.        ,  2.        , 27.        , 14.        ,
        4.        , 58.        , 20.        , 39.        , 14.        ,
       55.        ,  2.        , 29.69911765, 31.        , 29.69911765,
       35.        , 34.        , 15.        , 28.        ,  8.        ,
       38.        , 29.69911765, 19.        , 29.69911765, 29.69911765,
       40.        , 29.69911765, 29.69911765, 66.        , 28.        ,
       42.        , 29.69911765, 21.        , 18.        , 14.        ,
       40.        , 27.        , 29.69911765,  3.        , 19.        ,
       29.69911765, 29.69911765, 29.69911765, 29.69911765, 18.        ,
        7.        , 21.        , 49.        , 29.        , 65.        ,
       29.69911765, 21.        , 28.5       ,  5.        , 11.        ,
       22.        , 38.        , 45.        ,  4.        , 29.69911765,
       29.69911765, 29.        , 19.        , 17.        , 26.        ,
       32.        , 16.        , 21.        , 26.        , 32.        ,
       25.        , 29.69911765, 29.69911765,  0.83      , 30.        ,
       22.        , 29.        , 29.69911765, 28.        , 17.        ,
       33.        , 16.        , 29.69911765, 23.        , 24.        ,
       29.        , 20.        , 46.        , 26.        , 59.        ,
       29.69911765, 71.        , 23.        , 34.        , 34.        ,
       28.        , 29.69911765, 21.        , 33.        , 37.        ,
       28.        , 21.        , 29.69911765, 38.        , 29.69911765,
       47.        , 14.5       , 22.        , 20.        , 17.        ,
       21.        , 70.5       , 29.        , 24.        ,  2.        ,
       21.        , 29.69911765, 32.5       , 32.5       , 54.        ,
       12.        , 29.69911765, 24.        , 29.69911765, 45.        ,
       33.        , 20.        , 47.        , 29.        , 25.        ,
       23.        , 19.        , 37.        , 16.        , 24.        ,
       29.69911765, 22.        , 24.        , 19.        , 18.        ,
       19.        , 27.        ,  9.        , 36.5       , 42.        ,
       51.        , 22.        , 55.5       , 40.5       , 29.69911765,
       51.        , 16.        , 30.        , 29.69911765, 29.69911765,
       44.        , 40.        , 26.        , 17.        ,  1.        ,
        9.        , 29.69911765, 45.        , 29.69911765, 28.        ,
       61.        ,  4.        ,  1.        , 21.        , 56.        ,
       18.        , 29.69911765, 50.        , 30.        , 36.        ,
       29.69911765, 29.69911765,  9.        ,  1.        ,  4.        ,
       29.69911765, 29.69911765, 45.        , 40.        , 36.        ,
       32.        , 19.        , 19.        ,  3.        , 44.        ,
       58.        , 29.69911765, 42.        , 29.69911765, 24.        ,
       28.        , 29.69911765, 34.        , 45.5       , 18.        ,
        2.        , 32.        , 26.        , 16.        , 40.        ,
       24.        , 35.        , 22.        , 30.        , 29.69911765,
       31.        , 27.        , 42.        , 32.        , 30.        ,
       16.        , 27.        , 51.        , 29.69911765, 38.        ,
       22.        , 19.        , 20.5       , 18.        , 29.69911765,
       35.        , 29.        , 59.        ,  5.        , 24.        ,
       29.69911765, 44.        ,  8.        , 19.        , 33.        ,
       29.69911765, 29.69911765, 29.        , 22.        , 30.        ,
       44.        , 25.        , 24.        , 37.        , 54.        ,
       29.69911765, 29.        , 62.        , 30.        , 41.        ,
       29.        , 29.69911765, 30.        , 35.        , 50.        ,
       29.69911765,  3.        , 52.        , 40.        , 29.69911765,
       36.        , 16.        , 25.        , 58.        , 35.        ,
       29.69911765, 25.        , 41.        , 37.        , 29.69911765,
       63.        , 45.        , 29.69911765,  7.        , 35.        ,
       65.        , 28.        , 16.        , 19.        , 29.69911765,
       33.        , 30.        , 22.        , 42.        , 22.        ,
       26.        , 19.        , 36.        , 24.        , 24.        ,
       29.69911765, 23.5       ,  2.        , 29.69911765, 50.        ,
       29.69911765, 29.69911765, 19.        , 29.69911765, 29.69911765,
        0.92      , 29.69911765, 17.        , 30.        , 30.        ,
       24.        , 18.        , 26.        , 28.        , 43.        ,
       26.        , 24.        , 54.        , 31.        , 40.        ,
       22.        , 27.        , 30.        , 22.        , 29.69911765,
       36.        , 61.        , 36.        , 31.        , 16.        ,
       29.69911765, 45.5       , 38.        , 16.        , 29.69911765,
       29.69911765, 29.        , 41.        , 45.        , 45.        ,
        2.        , 24.        , 28.        , 25.        , 36.        ,
       24.        , 40.        , 29.69911765,  3.        , 42.        ,
       23.        , 29.69911765, 15.        , 25.        , 29.69911765,
       28.        , 22.        , 38.        , 29.69911765, 29.69911765,
       40.        , 29.        , 45.        , 35.        , 29.69911765,
       30.        , 60.        , 29.69911765, 29.69911765, 24.        ,
       25.        , 18.        , 19.        , 22.        ,  3.        ,
       29.69911765, 22.        , 27.        , 20.        , 19.        ,
       42.        ,  1.        , 32.        , 35.        , 29.69911765,
       18.        ,  1.        , 36.        , 29.69911765, 17.        ,
       36.        , 21.        , 28.        , 23.        , 24.        ,
       22.        , 31.        , 46.        , 23.        , 28.        ,
       39.        , 26.        , 21.        , 28.        , 20.        ,
       34.        , 51.        ,  3.        , 21.        , 29.69911765,
       29.69911765, 29.69911765, 33.        , 29.69911765, 44.        ,
       29.69911765, 34.        , 18.        , 30.        , 10.        ,
       29.69911765, 21.        , 29.        , 28.        , 18.        ,
       29.69911765, 28.        , 19.        , 29.69911765, 32.        ,
       28.        , 29.69911765, 42.        , 17.        , 50.        ,
       14.        , 21.        , 24.        , 64.        , 31.        ,
       45.        , 20.        , 25.        , 28.        , 29.69911765,
        4.        , 13.        , 34.        ,  5.        , 52.        ,
       36.        , 29.69911765, 30.        , 49.        , 29.69911765,
       29.        , 65.        , 29.69911765, 50.        , 29.69911765,
       48.        , 34.        , 47.        , 48.        , 29.69911765,
       38.        , 29.69911765, 56.        , 29.69911765,  0.75      ,
       29.69911765, 38.        , 33.        , 23.        , 22.        ,
       29.69911765, 34.        , 29.        , 22.        ,  2.        ,
        9.        , 29.69911765, 50.        , 63.        , 25.        ,
       29.69911765, 35.        , 58.        , 30.        ,  9.        ,
       29.69911765, 21.        , 55.        , 71.        , 21.        ,
       29.69911765, 54.        , 29.69911765, 25.        , 24.        ,
       17.        , 21.        , 29.69911765, 37.        , 16.        ,
       18.        , 33.        , 29.69911765, 28.        , 26.        ,
       29.        , 29.69911765, 36.        , 54.        , 24.        ,
       47.        , 34.        , 29.69911765, 36.        , 32.        ,
       30.        , 22.        , 29.69911765, 44.        , 29.69911765,
       40.5       , 50.        , 29.69911765, 39.        , 23.        ,
        2.        , 29.69911765, 17.        , 29.69911765, 30.        ,
        7.        , 45.        , 30.        , 29.69911765, 22.        ,
       36.        ,  9.        , 11.        , 32.        , 50.        ,
       64.        , 19.        , 29.69911765, 33.        ,  8.        ,
       17.        , 27.        , 29.69911765, 22.        , 22.        ,
       62.        , 48.        , 29.69911765, 39.        , 36.        ,
       29.69911765, 40.        , 28.        , 29.69911765, 29.69911765,
       24.        , 19.        , 29.        , 29.69911765, 32.        ,
       62.        , 53.        , 36.        , 29.69911765, 16.        ,
       19.        , 34.        , 39.        , 29.69911765, 32.        ,
       25.        , 39.        , 54.        , 36.        , 29.69911765,
       18.        , 47.        , 60.        , 22.        , 29.69911765,
       35.        , 52.        , 47.        , 29.69911765, 37.        ,
       36.        , 29.69911765, 49.        , 29.69911765, 49.        ,
       24.        , 29.69911765, 29.69911765, 44.        , 35.        ,
       36.        , 30.        , 27.        , 22.        , 40.        ,
       39.        , 29.69911765, 29.69911765, 29.69911765, 35.        ,
       24.        , 34.        , 26.        ,  4.        , 26.        ,
       27.        , 42.        , 20.        , 21.        , 21.        ,
       61.        , 57.        , 21.        , 26.        , 29.69911765,
       80.        , 51.        , 32.        , 29.69911765,  9.        ,
       28.        , 32.        , 31.        , 41.        , 29.69911765,
       20.        , 24.        ,  2.        , 29.69911765,  0.75      ,
       48.        , 19.        , 56.        , 29.69911765, 23.        ,
       29.69911765, 18.        , 21.        , 29.69911765, 18.        ,
       24.        , 29.69911765, 32.        , 23.        , 58.        ,
       50.        , 40.        , 47.        , 36.        , 20.        ,
       32.        , 25.        , 29.69911765, 43.        , 29.69911765,
       40.        , 31.        , 70.        , 31.        , 29.69911765,
       18.        , 24.5       , 18.        , 43.        , 36.        ,
       29.69911765, 27.        , 20.        , 14.        , 60.        ,
       25.        , 14.        , 19.        , 18.        , 15.        ,
       31.        ,  4.        , 29.69911765, 25.        , 60.        ,
       52.        , 44.        , 29.69911765, 49.        , 42.        ,
       18.        , 35.        , 18.        , 25.        , 26.        ,
       39.        , 45.        , 42.        , 22.        , 29.69911765,
       24.        , 29.69911765, 48.        , 29.        , 52.        ,
       19.        , 38.        , 27.        , 29.69911765, 33.        ,
        6.        , 17.        , 34.        , 50.        , 27.        ,
       20.        , 30.        , 29.69911765, 25.        , 25.        ,
       29.        , 11.        , 29.69911765, 23.        , 23.        ,
       28.5       , 48.        , 35.        , 29.69911765, 29.69911765,
       29.69911765, 36.        , 21.        , 24.        , 31.        ,
       70.        , 16.        , 30.        , 19.        , 31.        ,
        4.        ,  6.        , 33.        , 23.        , 48.        ,
        0.67      , 28.        , 18.        , 34.        , 33.        ,
       29.69911765, 41.        , 20.        , 36.        , 16.        ,
       51.        , 29.69911765, 30.5       , 29.69911765, 32.        ,
       24.        , 48.        , 57.        , 29.69911765, 54.        ,
       18.        , 29.69911765,  5.        , 29.69911765, 43.        ,
       13.        , 17.        , 29.        , 29.69911765, 25.        ,
       25.        , 18.        ,  8.        ,  1.        , 46.        ,
       29.69911765, 16.        , 29.69911765, 29.69911765, 25.        ,
       39.        , 49.        , 31.        , 30.        , 30.        ,
       34.        , 31.        , 11.        ,  0.42      , 27.        ,
       31.        , 39.        , 18.        , 39.        , 33.        ,
       26.        , 39.        , 35.        ,  6.        , 30.5       ,
       29.69911765, 23.        , 31.        , 43.        , 10.        ,
       52.        , 27.        , 38.        , 27.        ,  2.        ,
       29.69911765, 29.69911765,  1.        , 29.69911765, 62.        ,
       15.        ,  0.83      , 29.69911765, 23.        , 18.        ,
       39.        , 21.        , 29.69911765, 32.        , 29.69911765,
       20.        , 16.        , 30.        , 34.5       , 17.        ,
       42.        , 29.69911765, 35.        , 28.        , 29.69911765,
        4.        , 74.        ,  9.        , 16.        , 44.        ,
       18.        , 45.        , 51.        , 24.        , 29.69911765,
       41.        , 21.        , 48.        , 29.69911765, 24.        ,
       42.        , 27.        , 31.        , 29.69911765,  4.        ,
       26.        , 47.        , 33.        , 47.        , 28.        ,
       15.        , 20.        , 19.        , 29.69911765, 56.        ,
       25.        , 33.        , 22.        , 28.        , 25.        ,
       39.        , 27.        , 19.        , 29.69911765, 26.        ,
       32.        ])

In [11]:
#Create a first class column
passengers["First Class"] = passengers["Pclass"].apply(lambda x: 1 if x ==1 else 0)
passengers

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,First Class
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,NaN,S,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,C85,C,1
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,C123,S,1
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,NaN,S,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,NaN,S,0
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,B42,S,1
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1,2,W./C. 6607,23.4500,NaN,S,0
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,C148,C,1
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,NaN,Q,0

In [12]:
#Create a second class column
passengers["Second Class"] = passengers["Pclass"].apply(lambda x: 1 if x == 2 else 0)
passengers

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked,First Class,Second Class
0,1,0,3,"Braund, Mr. Owen Harris",0,22.000000,1,0,A/5 21171,7.2500,NaN,S,0,0
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",1,38.000000,1,0,PC 17599,71.2833,C85,C,1,0
2,3,1,3,"Heikkinen, Miss. Laina",1,26.000000,0,0,STON/O2. 3101282,7.9250,NaN,S,0,0
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",1,35.000000,1,0,113803,53.1000,C123,S,1,0
4,5,0,3,"Allen, Mr. William Henry",0,35.000000,0,0,373450,8.0500,NaN,S,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
886,887,0,2,"Montvila, Rev. Juozas",0,27.000000,0,0,211536,13.0000,NaN,S,0,1
887,888,1,1,"Graham, Miss. Margaret Edith",1,19.000000,0,0,112053,30.0000,B42,S,1,0
888,889,0,3,"Johnston, Miss. Catherine Helen ""Carrie""",1,29.699118,1,2,W./C. 6607,23.4500,NaN,S,0,0
889,890,1,1,"Behr, Mr. Karl Howell",0,26.000000,0,0,111369,30.0000,C148,C,1,0
890,891,0,3,"Dooley, Mr. Patrick",0,32.000000,0,0,370376,7.7500,NaN,Q,0,0

### Select and Split the Data

In [16]:
features = passengers[["Sex", "Age", "First Class","Second Class"]]
survival = passengers["Survived"]

In [18]:
train_features, test_features, train_labels, test_tabels = train_test_split(features,survival, test_size=0.2)

### Normalize the Data

In [19]:
scaler = StandardScaler()
scaler.fit_transform(train_features)
scaler.transform(test_features)

array([[ 1.32653305e+00, -9.83579717e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -1.60119769e+00, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -9.06377470e-01,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00, -1.13798421e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.65961740e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  9.72517421e-02, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -6.74770729e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01,  2.10451017e+00, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -1.36959095e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  9.72517421e-02, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -4.43163988e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -2.11557246e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  2.41331915e+00, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -1.67839994e+00, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00,  1.48689219e+00,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00, -3.65961740e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -3.17929875e-03,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  3.28858483e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -5.71527521e-02, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -4.43163988e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  2.02730792e+00,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -1.60119769e+00, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -2.11557246e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01,  7.14869719e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -1.06078196e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  9.72517421e-02, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -5.97568482e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -7.51972976e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00,  7.14869719e-01,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00, -1.06078196e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  1.33248770e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  1.33248770e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -6.74770729e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  3.67459607e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  4.83262978e-01,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  2.00494950e-02, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -1.06078196e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -2.23811623e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  4.06060730e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -5.97568482e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00,  1.40968994e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -6.74770729e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -5.20366235e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -3.17929875e-03,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -5.97568482e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  1.10088095e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -2.23194005e+00, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01,  9.46476460e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  2.49052140e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  3.88016185e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  1.40968994e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -7.51972976e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00, -9.06377470e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01,  2.00494950e-02, -5.51388524e-01,
         1.92749365e+00],
       [ 1.32653305e+00, -1.17658533e+00, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -1.75560219e+00, -5.51388524e-01,
         1.92749365e+00],
       [ 1.32653305e+00,  1.02367871e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -6.74770729e-01, -5.51388524e-01,
         1.92749365e+00],
       [ 1.32653305e+00, -9.06377470e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -1.34354999e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00,  1.17808320e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  2.00494950e-02,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00,  3.28858483e-01, -5.51388524e-01,
         1.92749365e+00],
       [ 1.32653305e+00, -5.71527521e-02,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00,  2.51656236e-01,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  1.25528545e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -7.51972976e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -1.83280444e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -5.97568482e-01,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -9.83579717e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  1.87290343e+00, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01,  1.33248770e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  1.02367871e+00, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -3.17929875e-03,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -4.43163988e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00,  2.00494950e-02,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -1.34354999e-01,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00,  7.14869719e-01,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00, -1.52399545e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -1.13798421e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -5.20366235e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -2.11557246e-01,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  9.46476460e-01, -5.51388524e-01,
         1.92749365e+00],
       [ 1.32653305e+00,  7.14869719e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  1.87290343e+00,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00,  8.69274213e-01,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -2.88759493e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -8.29175223e-01, -5.51388524e-01,
         1.92749365e+00],
       [ 1.32653305e+00, -4.43163988e-01,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -5.97568482e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.65961740e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -1.60119769e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -5.97568482e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  2.00494950e-02, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -1.98720893e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  1.10088095e+00, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -2.88759493e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -4.43163988e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -3.17929875e-03,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  1.64129668e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  1.33248770e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  1.56409444e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -2.24429241e+00, -5.51388524e-01,
         1.92749365e+00],
       [ 1.32653305e+00, -9.83579717e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -9.83579717e-01,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00, -2.06441118e+00, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00,  1.17808320e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -7.51972976e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -7.51972976e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -9.83579717e-01,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00, -2.88759493e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -2.11557246e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -6.74770729e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -8.29175223e-01,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  4.83262978e-01,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -5.97568482e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -8.29175223e-01, -5.51388524e-01,
         1.92749365e+00],
       [ 1.32653305e+00, -1.34354999e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -3.17929875e-03,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  7.14869719e-01,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  1.71849893e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  4.83262978e-01,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -1.44679320e+00,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00,  1.33248770e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -2.11557246e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -7.13371852e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -1.06078196e+00, -5.51388524e-01,
         1.92749365e+00],
       [ 1.32653305e+00,  6.37667472e-01, -5.51388524e-01,
         1.92749365e+00],
       [ 1.32653305e+00, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -6.74770729e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  2.51656236e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00,  1.33248770e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  1.21668432e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  1.33248770e+00, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -1.34354999e-01,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  1.02367871e+00, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00,  2.13055113e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -2.88759493e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -5.71527521e-02, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -6.74770729e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  3.28858483e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  8.69274213e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01,  1.56409444e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  1.17808320e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01, -9.83579717e-01, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00, -6.74770729e-01, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -4.43163988e-01, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01, -3.17929875e-03, -5.51388524e-01,
        -5.18808452e-01],
       [ 1.32653305e+00,  2.56772365e+00,  1.81360322e+00,
        -5.18808452e-01],
       [-7.53844771e-01,  1.71849893e+00,  1.81360322e+00,
        -5.18808452e-01],
       [ 1.32653305e+00, -1.91000668e+00, -5.51388524e-01,
         1.92749365e+00],
       [-7.53844771e-01,  1.10088095e+00, -5.51388524e-01,
        -5.18808452e-01],
       [-7.53844771e-01, -6.74770729e-01, -5.51388524e-01,
         1.92749365e+00]])

### Create and Evaluate the Model

In [20]:
model = LogisticRegression()
model.fit(train_features, train_labels)

LogisticRegression()

In [21]:
model.score(train_features, train_labels)

0.7991573033707865

In [23]:
model.score(test_features,test_tabels)

0.7821229050279329

In [24]:
model.coef_

array([[ 2.60218748, -0.02774531,  2.12516555,  1.2619758 ]])

### Predict with the Model

In [27]:
Jack = np.array([0.0,20.0,0.0,0.0])
Rose = np.array([1.0,17.0,1.0,0.0])
You = np.array([1.0,27.0,1.0,0.0])

sample_passengers = np.array([Jack, Rose, You])
sample_passengers = scaler.transform(sample_passengers)
sample_passengers

array([[-0.75384477, -0.75197298, -0.55138852, -0.51880845],
       [ 1.32653305, -0.98357972,  1.81360322, -0.51880845],
       [ 1.32653305, -0.21155725,  1.81360322, -0.51880845]])

In [28]:
model.predict(sample_passengers)

array([0, 1, 1], dtype=int64)

In [29]:
model.predict_proba(sample_passengers)

array([[0.99496512, 0.00503488],
       [0.00571096, 0.99428904],
       [0.00583389, 0.99416611]])